In [1]:
print("hello world")

hello world

In [2]:
1+1

2

In [3]:
print("pragathi")

pragathi

In [4]:
2**4

16

In [5]:
4%2

0

In [6]:
(2+3)*(5+5)

50

In [7]:
mite=100

In [8]:
mite

100

In [9]:
print("the value of MITE variable is",mite)

the value of MITE variable is 100

In [10]:
'Mangalore is a nice place'

'Mangalore is a nice place'

In [11]:
"Mangalore is a great place to live"

'Mangalore is a great place to live'

In [12]:
"I can wrap lot's of quotes into this string"

"I can wrap lot's of quotes into this string"

In [13]:
num=22
name="mite"
print(num+1,name,"is the best place to study")

23 mite is the best place to study

In [14]:
print("my number is {one} and my name is {two}".format(one=number,two=name))

NameError: name 'number' is not defined

In [15]:
print("my number is {one} and my name is {two}".format(one=num,two=name))

my number is 22 and my name is mite

In [16]:
x=input("enter the first number:")
y=input("enter the second number:")
i=int(x)
j=int(y)
print("the product is ",i*j)

enter the first number:20
enter the second number:40
the product is  800

In [17]:
x=input("enter the first number:")
y=input("enter the second number:")
i=float(x)
j=float(y)
print("the product is ",i*j)

enter the first number:22.2
enter the second number:44.4
the product is  985.68

In [18]:
x=input("enter the first number:")
y=input("enter the second number:")
i=float(x)
j=float(y)
print("the product is ",i*j)

enter the first number:2
enter the second number:4
the product is  8.0

In [19]:
x=input("enter the first number:")
y=input("enter the second number:")
i=bool(x)
j=bool(y)
print("the product is ",i*j)

enter the first number:5
enter the second number:2
the product is  1

In [20]:
x=input("enter the first number:")
y=input("enter the second number:")
i=float(x)
j=float(y)
print("the product is ",i*j)

enter the first number:true
enter the second number:false

ValueError: could not convert string to float: 'true'

In [21]:
x=input("enter the first number:")
y=input("enter the second number:")
i=bool(x)
j=bool(y)
print("the product is ",i*j)

enter the first number:true
enter the second number:false
the product is  1

In [22]:
married=bool(input("are you married ? [True|false]"))

are you married ? [True|false]false

In [23]:
married=bool(input("are you married ? [True|false]"))

are you married ? [True|false]true

In [24]:
married=bool(input("are you married ? [True|false]"))

are you married ? [True|false]0

In [25]:
empid=int(input("enter the employee code:"))
empname=input("enter the employee name:")
empbsal=int(input("enter the employee basic sal:"))
empfre=bool(input("employee is fresher? [Yes|No]"))
totalsal=1.2*empbsal
print("the employee code is ",empid)
print("the employee name is",empname)
print("the employee total sal is",totalsal)

enter the employee code:121
enter the employee name:abc
enter the employee basic sal:12000
employee is fresher? [Yes|No]Yes
the employee code is  121
the employee name is abc
the employee total sal is 14400.0

In [5]:
a,b=[int(x) for x in input("enter two numbers").split()]
print("product is:",a*b)

enter two numbers20 10
product is: 200

In [27]:
a,b,c=[int(x) for x in 
    input("enter two float numbers").split(',')]
print("sum is:",a+b+c)

enter two float numbers2 4 5

ValueError: invalid literal for int() with base 10: '2 4 5'

In [28]:
a,b,c=[int(x) for x in 
    input("enter three float numbers").split(',')]
print("sum is:",a+b+c)

enter three float numbers2,3,4
sum is: 9

In [29]:
a,b,c=[float(x) for x in 
    input("enter three float numbers").split(',')]
print("sum is:",a+b+c)

enter three float numbers1.2,2.1,3.4
sum is: 6.699999999999999

In [30]:
x=eval("10.2,22.2,33.3")
print(x)

(10.2, 22.2, 33.3)

In [31]:
x=eval("10.2+22.2+33.3")
print(x)

65.69999999999999

In [32]:
x=eval("30/2-26")
print(x)

-11.0

In [33]:
x=eval("30/2-26(2+3)*6")
print(x)

TypeError: 'int' object is not callable

In [34]:
x=eval("30/2-26+(2+3)*6")
print(x)

19.0

In [35]:
print(10*hello)

NameError: name 'hello' is not defined

In [36]:
print(10*"hello")

hellohellohellohellohellohellohellohellohellohello

In [37]:
print("hello\n world")
print("hello\t world")

hello
 world
hello	 world

In [38]:
[1,2,3]

[1, 2, 3]

In [39]:
my_list=['a','b','c']

In [40]:
my_list.append('d')

In [41]:
print(my_list)

['a', 'b', 'c', 'd']

In [42]:
my_list[0]

'a'

In [43]:
my_list[1:]

['b', 'c', 'd']

In [44]:
my_list[:1]

['a']

In [45]:
my_list='Pragathi'

In [46]:
nest=[1,2,3,[4,5,['target']]]

In [47]:
print(nest)

[1, 2, 3, [4, 5, ['target']]]

In [48]:
name=input("enter the name:")
if name=="pragathi":
    print("good aftrnoon")
print("hello how r u")

enter the name:pragathi
good aftrnoon
hello how r u

In [49]:
name=input("enter the name:")
if name=="pragathi":
    print("good aftrnoon")
else:
    print("hello how r u")
print("done!")

enter the name:abc
hello how r u
done!

name=input("enter the name:")
if name=="pragathi":
    print("good aftrnoon")
else:
    print("hello how r u")
print("done!")

In [53]:
team=input("enter ur fav team")
if team=="IND":
    print("Its INDIA team")
elif team=="ENG":
    print("Its England team")
else:
    print("no team")

enter ur fav teamNW
no team

In [54]:
s="Sachin Tendulkar"
for x in s:
    print(x)

S
a
c
h
i
n

T
e
n
d
u
l
k
a
r

In [57]:
for x in range(10,1,-1):
    print(x)

10
9
8
7
6
5
4
3
2

In [60]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [56]:
for x in range(0,21):
    if x%2==0:
        print(x)

0
2
4
6
8
10
12
14
16
18
20

In [61]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

In [63]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *

In [64]:
for i in range(10):
    
    if i==7:
        print("lets break after 7")
        break
    print(i)

0
1
2
3
4
5
6
lets break after 7

In [67]:
cart=[100,200,300,500,700,800,900]
for x in cart:
    if x>=500:
        print("anything above 500 has to be assured")
        break
    print(x)

100
200
300
anything above 500 has to be assured

In [68]:
cart=[100,200,300,500,700,800,900]
for x in cart:
    if x>=500:
        print("anything above 500 has to be assured")
        continue
    print(x)

100
200
300
anything above 500 has to be assured
anything above 500 has to be assured
anything above 500 has to be assured
anything above 500 has to be assured

In [69]:
dict1={"H":"hydrogen","O":"oxygen"}
dict1["O"]

'oxygen'

In [2]:
print("hello world")

hello world

enter the first number:10
enter the second number:20
the product is  200